# Menonaktifkan Directory Listing
Options -Indexes

# Menyembunyikan File-Specific
<FilesMatch "^\.ht">
    Order allow,deny
    Deny from all
</FilesMatch>

# Menyembunyikan informasi server
ServerSignature Off
Header unset Server
